.editor {
  color: #333;
  background-color: #eee;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.print, .editor, .editorcursor { display: none; }

.editortools {
  display: none !important;
}

