.right-bottom-button {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: whiteSmoke;
  background-image: none;
  border-color: #ccc;
  box-shadow: inset 0 1px 0 0 #bbb;
  color: #333;

  padding: 0 17px 0 17px;

  @extend button;

  &:hover {
    background-color: whiteSmoke !important;
    background-image: none !important;
  }
}
