// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  @extend %default-ul;
  ul {
    list-style-type: circle;
  }
}

ol {
  @extend %default-ol;
  ol {
    list-style-type: latin;
  }
}

@media screen {
  body {
    @include outer-container;
    article {
      @include span-columns(10); @include shift(1);
    }
  }
}

h1 {
  text-align: center;
}

pre {
  white-space: pre-wrap;
}

@media print {
  .action,
  .action-delimiter {
    display: none;
  }

  .page-break { page-break-before: always; }
}

