td + td {
  border-left: 1px solid #ddd;
}

th + th {
  border-left: 1px solid #b7b7b7;
}

td,
th {
  padding-left: 10px !important;
}

td {
  vertical-align: top;
}

@media print {
  table {
    page-break-inside: avoid !important; // doesn't work
    display: inline-table;

    &:after {
      display: block;
      height: 0px;
      visibility: hidden;
    }
  }
}

